@import "../../Variables.scss";

.verification-container {
  .verify-form {
    margin: 30px 0;

    .selfie-image {
      height: 120px;
      width: 120px;
      border-radius: 50%;
    }
    .btn {
      width: 180px;
      height: 35px;
    }
  }
}
