@import "../../Variables.scss";

.profile-container {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  .top {
    box-sizing: border-box;
    padding: 30px 0;
    padding-bottom: 0px;
  }
  .profile {
    margin-top: 40px;

    .avatar {
      width: 120px;
      height: 120px;
      cursor: pointer;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition-duration: 0.12s;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      span {
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.794);
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }
  }
}
